<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent" th:fragment="nav">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/assets/images/candidate-images/ace_logo.png" alt="" width="100" height="auto">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" th:href="@{/}"><span th:classappend="${currentPage == '/' ? 'active' : ''}">Home</span></a>
                    <a class="nav-link" th:href="@{all-jobs}"><span th:classappend="${currentPage == '/all-jobs' ? 'active' : ''}">Jobs</span></a>
                    <a class="nav-link" th:href="@{contact-us}"><span th:classappend="${currentPage == '/contact-us' ? 'active' : ''}">Contact us</span></a>
                </div>
            </div>
        </div>
    </nav>
    <footer class="footer mt-5" th:fragment="footer">
        <div class="d-flex justify-content-center align-items-center py-3" id="footer-content">
            <p class="text-white m-0" style="font-size: 0.7rem;">© 2023 All rights reserved by ACE Data Systems Ltd.</p>
        </div>
    </footer>
</body>
</html>