<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacancies page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" href="/assets/css/candidate-css/style.css">
</head>

<body>
    <!-- Loading animation start -->
    <div id="loading-animation">
        <div class="dot dot-1"></div>
        <div class="dot dot-2"></div>
        <div class="dot dot-3"></div>
    </div>
    <!-- Loading animation end -->

    <!-- Navbar start -->
    <div th:replace="/fragments/layout ::nav"></div>
    <!-- Navbar end -->
    <div class="container contact-us p-3 pb-0">
        <h3 class="default-font text-center mb-5">CONTACT US</h3>
        <div class="row">
            <div class="col-md-3 mb-2">
                <div class="default-font">
                    <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 384 512">
                        <path
                            d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" />
                    </svg>
                    <h4 class="d-inline-block">Address</h4>
                </div>
                <div class="default-font">
                    <p>Building 18, 7th floor, MICT Park,
                        Hlaing Township,Yangon, Myanmar</p>
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="default-font">
                    <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 512 512">
                        <path
                            d="M280 0C408.1 0 512 103.9 512 232c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-101.6-82.4-184-184-184c-13.3 0-24-10.7-24-24s10.7-24 24-24zm8 192a32 32 0 1 1 0 64 32 32 0 1 1 0-64zm-32-72c0-13.3 10.7-24 24-24c75.1 0 136 60.9 136 136c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-48.6-39.4-88-88-88c-13.3 0-24-10.7-24-24zM117.5 1.4c19.4-5.3 39.7 4.6 47.4 23.2l40 96c6.8 16.3 2.1 35.2-11.6 46.3L144 207.3c33.3 70.4 90.3 127.4 160.7 160.7L345 318.7c11.2-13.7 30-18.4 46.3-11.6l96 40c18.6 7.7 28.5 28 23.2 47.4l-24 88C481.8 499.9 466 512 448 512C200.6 512 0 311.4 0 64C0 46 12.1 30.2 29.5 25.4l88-24z" />
                    </svg>
                    <h4 class="d-inline-block">Phone</h4>
                </div>
                <div class="default-font">
                    <p>95-1-652239, 95-1-652270, 95-1-2305108,
                        95-1-2305109, 95-1-2305110</p>
                </div>
            </div>
            <div class="col-md-2 mb-2">
                <div class="default-font">
                    <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 512 512">
                        <path
                            d="M128 64v96h64V64H386.7L416 93.3V160h64V93.3c0-17-6.7-33.3-18.7-45.3L432 18.7C420 6.7 403.7 0 386.7 0H192c-35.3 0-64 28.7-64 64zM0 160V480c0 17.7 14.3 32 32 32H64c17.7 0 32-14.3 32-32V160c0-17.7-14.3-32-32-32H32c-17.7 0-32 14.3-32 32zm480 32H128V480c0 17.7 14.3 32 32 32H480c17.7 0 32-14.3 32-32V224c0-17.7-14.3-32-32-32zM256 256a32 32 0 1 1 0 64 32 32 0 1 1 0-64zm96 32a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm32 96a32 32 0 1 1 0 64 32 32 0 1 1 0-64zM224 416a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z" />
                    </svg>
                    <h4 class="d-inline-block">FAX</h4>
                </div>
                <div class="default-font">
                    <p>95-1-652271</p>
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <div class="default-font">
                    <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 512 512">
                        <path
                            d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
                    </svg>
                    <h4 class="d-inline-block">Email</h4>
                </div>
                <div class="default-font">
                    <p>info@acedatasystems.com
                        hradmin@acedatasystems.com
                        businessdevelopment@acedatasystem</p>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-8 heightLine_01" style="padding-left: 0px !important; padding-right: 0px !important;">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3818.535928080833!2d96.1254676148184!3d16.849363088403106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c194eb96cf4047%3A0x8612d5ad0f0b41ce!2sACE%20Data%20Systems!5e0!3m2!1sen!2smm!4v1602566550599!5m2!1sen!2smm"
                    width="100%" height="298" frameborder="0" style="border:0;margin:0;" allowfullscreen
                    class="heightLine_01"></iframe>


            </div>
            <div class="col-md-4 contact_image" style="padding-left: 0px !important; padding-right: 0px !important;">
                <div role="form" class="wpcf7" id="wpcf7-f252-p237-o1" lang="en-US" dir="ltr">
                    <div class="screen-reader-response">
                        <p role="status" aria-live="polite" aria-atomic="true"></p>
                        <ul></ul>
                    </div>
                    <form notification="/contact-us/#wpcf7-f252-p237-o1" method="post" class="wpcf7-form init"
                        novalidate="novalidate" data-status="init">
                        <div style="display: none;">
                            <input type="hidden" name="_wpcf7" value="252" />
                            <input type="hidden" name="_wpcf7_version" value="5.3" />
                            <input type="hidden" name="_wpcf7_locale" value="en_US" />
                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f252-p237-o1" />
                            <input type="hidden" name="_wpcf7_container_post" value="237" />
                            <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                        </div>
                        <div class="p-3 pt-0">
                            <span class="wpcf7-form-control-wrap text-693">
                                <input type="text" name="text-693" value="" size="40"
                                    class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control"
                                    aria-required="true" aria-invalid="false" placeholder="Name" />
                            </span>
                            <br />
                            <span class="wpcf7-form-control-wrap email-427"><input type="email" name="email-427"
                                    value="" size="40"
                                    class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control"
                                    aria-required="true" aria-invalid="false" placeholder="Email" /></span><br />
                            <span class="wpcf7-form-control-wrap recipient"><select name="recipient"
                                    class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required form-control"
                                    aria-required="true" aria-invalid="false">
                                    <option value="Request For Quote">Request For Quote</option>
                                    <option value="Request For Job Opportunity">Request For Job Opportunity</option>
                                </select></span><br />
                            <span class="wpcf7-form-control-wrap textarea-553"><textarea name="textarea-553" cols="10"
                                    rows="3"
                                    class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control"
                                    aria-required="true" aria-invalid="false"
                                    placeholder="Message"></textarea></span><br />
                            <div class="text-end">
                                <button type="submit"
                                    class="wpcf7-form-control wpcf7-submit btn btn-default btn btn-primary">Send</button>
                            </div>
                        </div>
                        <div class="wpcf7-response-output" aria-hidden="true"></div>
                    </form>
                </div>
                &nbsp;
            </div>
        </div>
    </div>
    <!-- Footer start -->
    <div th:replace="/fragments/layout ::footer"></div>
    <!-- Footer end -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/dist/boxicons.min.js"></script>
    <script src="/assets/js/javaScript/app.js"></script>
</body>

</html>