<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">

    <link rel="stylesheet" href="/assets/vendors/iconly/bold.css">

    <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <!-- Izitoast for noti -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izitoast@1.4.0/dist/css/iziToast.min.css">
    <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/x-icon">
    <style>
        .chart-container {
            display: flex;
            flex-wrap: wrap;
        }

        .chart {
            flex: 1;
            margin: 10px;
        }

        .col {
            display: flex;
            /* Use flexbox to align items in a row */
            align-items: center;
            /* Center items vertically */
        }

        .form-control {
            margin-right: 10px;
            /* Add some space between the selects */
        }
    </style>
</head>

<body>
    <div id="app">
        <div th:replace="/fragments/dashboard-layout ::sidebar"></div>
        <div th:replace="/fragments/dashboard-layout ::layout-navbar"></div>
        <div id="main">

            <div class="page-heading">
                <h3>Profile Statistics</h3>
            </div>
            <div class="page-content">
                <section class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5" style="min-height: 129.59px !important">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon purple">
                                                    <i class="iconly-boldShow"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">Users</h6>
                                                <h6 class="font-extrabold mb-0">0</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5" style="min-height: 129.59px !important">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon blue">
                                                    <i class="bi bi-card-heading" style="translate: -5px -6px;"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">Vacancy Posts</h6>
                                                <h6 class="font-extrabold mb-0" id="vacancy-post-count"></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5" style="min-height: 129.59px !important">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon green">
                                                    <i class="iconly-boldAdd-User"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">Apply Candidate</h6>
                                                <h6 class="font-extrabold mb-0">0</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5" style="min-height: 129.59px !important;">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon red">
                                                    <i class="iconly-boldBookmark"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">Hired Candidate</h6>
                                                <h6 class="font-extrabold mb-0">0</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Profile Visit</h4>
                                    </div>
                                    <div class="card-body">
                                        <select id="year1" class="form-control">
                                            <option value="">Choose One</option>
                                        </select>
                                        <div id="chart-profile-visit" class="chart"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-5">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Vacancy Status Percentage</h4>
                                    </div>
                                    <div class="card-body">
                                    <select id="pine" class="form-control">
                                        <option value="">Chose One</option>
                                        </select>
                                    <select id="department4" class="form-control">
                                        <option value="All" selected disabled>All</option>
                                    </select>
                                     <select id="month" class="form-control">
                                     	<option value="1">Jan</option>
                                     	<option value="2">Feb</option>
                                     	<option value="3">Mar</option>
                                     	<option value="4">April</option>
                                     	<option value="5">May</option>
                                     	<option value="6">Jun</option>
                                     	<option value="7">Jul</option>
                                     	<option value="8">Aug</option>
                                     	<option value="9">Sep</option>
                                     	<option value="10">Oct</option>
                                     	<option value="11">Nov</option>
                                     	<option value="12">Dec</option>
                                     </select></div>
                                       <div id="chart" ></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-7">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Vacancy Post Count</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="col">
                                            <select id="department3" class="form-control">
                                                <option value="" selected disabled>Department</option>
                                            </select>

                                            <select id="year3" class="form-control">
                                                <option value="" selected disabled>Year</option>
                                            </select>
                                        </div>

                                        <div id="graph"></div>
                                    </div>

                                </div>
                            </div>
                        </div>

                </section>
            </div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2021 &copy; Mazer</p>
                    </div>
                    <div class="float-end">
                        <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                                href="http://ahmadsaugi.com">A. Saugi</a></p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="/assets/js/authenticatedUserCredendials.js"></script>
    <!-- Izitoast for noti -->
    <script src="https://cdn.jsdelivr.net/npm/izitoast@1.4.0/dist/js/iziToast.min.js"></script>
    <!-- Stomp -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <!-- SockJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <!-- About notification -->
    <script src="/assets/js/websocket.js"></script>
    <script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendors/apexcharts/apexcharts.js"></script>
    <script src="/assets/js/pages/dashboard.js"></script>
    <script src="/assets/js/dashboarddata.js"></script>
    <script src="/assets/js/main.js"></script>



</body>

</html>