<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forget Password</title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/bootstrap.css">
  <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" href="/assets/css/app.css">
  <link rel="stylesheet" href="/assets/css/pages/auth.css">
  <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/x-icon">
</head>

<body>
<div id="auth">

  <div class="row h-100">
    <div class="d-flex justify-content-center align-items-center">
      <div class="py-4 px-3 px-md-4 px-lg-5 shadow-lg col-10 col-sm-8 col-md-8 col-lg-4 mx-auto" style="border-radius: 30px;">
        <h1 class="auth-title text-center pb-4">Forgot Password</h1>

        <form  method="post">
          <div class="form-floating form-group position-relative has-icon-left mb-4">
            <input type="password" class="form-control form-control" placeholder="New Password" id="newPassword" name="newPassword" required>
            <label for="newPassword">
              <i class="bi bi-shield-lock"></i>
              New Password
            </label>
          </div>

          <div class="form-floating form-group position-relative has-icon-left mb-4">
            <input type="password" class="form-control form-control" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword" required>
            <label for="confirmPassword">
              <i class="bi bi-shield-lock"></i>
              Confirm Password
            </label>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <div class="d-grid gap-2 col-8">
                <button type="submit" class="btn btn-primary rounded-pill mt-2">Change</button>
            </div>
        </div>
        </form>

      </div>
    </div>
  </div>

</div>
</body>

</html>