<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <title>Forget Password</title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/bootstrap.css">
  <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" href="/assets/css/app.css">
  <link rel="stylesheet" href="/assets/css/pages/auth.css">
  <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/x-icon">
  <style>
    /* Custom CSS to hide background image of validation */
    .form-control.is-invalid,
    .was-validated .form-control:invalid {
      background-image: none !important;
    }

    .form-control.is-valid,
    .was-validated .form-control:valid {
      background-image: none !important;
    }
  </style>
</head>

<body>
  <div id="auth">

    <div class="row h-100">
      <div class="d-flex justify-content-center align-items-center">
        <div class="py-4 px-3 px-md-4 px-lg-5 shadow-lg col-10 col-sm-8 col-md-8 col-lg-4 mx-auto"
          style="border-radius: 30px;">
          <h1 class="auth-title text-center pb-4">Forgot Password</h1>

          <form id="forgot-password" method="post" class="needs-validation" novalidate>
            <div class="form-floating form-group position-relative has-icon-left mb-4">
              <input type="password" class="form-control" placeholder="New Password" id="newPassword" name="newPassword"
                required>
              <label for="newPassword">
                <i class="bi bi-shield-lock"></i>
                New Password
              </label>
              <div class="invalid-feedback" id="new-password">
                Please add New Password.
              </div>

            </div>

            <div class="form-floating form-group position-relative has-icon-left mb-4">
              <input type="password" class="form-control" placeholder="Confirm Password" id="confirmPassword"
                name="confirmPassword" required>
              <label for="confirmPassword">
                <i class="bi bi-shield-lock"></i>
                Confirm Password
              </label>
              <div class="invalid-feedback" id="confirm-password">
                Please add Confirm Password.
              </div>

            </div>
            <div class="d-flex justify-content-center align-items-center">
              <div class="d-grid gap-2 col-8">
                <button type="submit" class="btn btn-primary rounded-pill mt-2">Change</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>

  </div>
  <script src="/assets/js/bootstrap.bundle.min.js"></script>
  <script>
    // Get the query string from the URL
    const queryString = window.location.search;
    const params = new URLSearchParams(queryString);
    const email = params.get('email');

    const newPasswordMsg = document.getElementById('new-password');
    const confirmPasswordMsg = document.getElementById('confirm-password');

    const newPasswordInput = document.getElementById('newPassword');
    const confirmPasswordInput = document.getElementById('confirmPassword');



    const mainForm = document.getElementById('forgot-password');



    (() => {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated');

          if(newPasswordInput === ''){
            newPasswordMsg.innerHTML = 'Please Add New Password.';
          
          } else if (confirmPasswordInput === ''){
            confirmPasswordMsg.innerHTML = 'Please Add Confirm Password.';

          } else if (newPasswordInput === '' && confirmPasswordInput === ''){
            newPasswordMsg.innerHTML = 'Please Add New Password.';
            confirmPasswordMsg.innerHTML = 'Please Add Confirm Password.';
          }
          


        }, false)
      })
    })()

    document.getElementById('forgot-password').addEventListener('submit', function (event) {
      event.preventDefault()
      if (!isFormValid() || !checkPasswordsMatch()) {
        console.log('Form data is not valid. Please fill all required fields.');
        event.preventDefault(); // Prevent form submission only if validation fails
        return;
      }
      const metaCsrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');

      fetch('/change-password?newPassword=' + encodeURIComponent(newPasswordInput.value) + '&email=' + encodeURIComponent(email), {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json;charset=utf-8',
          'X-XSRF-Token': metaCsrfToken
        }
      })
        .then(response => response.json())
        .then(data => {
          if (data === true) {
            console.log("true"); // You can also use 'if (isSuccess)' since it's a boolean
            window.location.href = '/login?change=true';
          } else {
            console.log("false");

            newPasswordInput.classList.add('is-invalid')
            confirmPasswordInput.classList.add('is-invalid')

            newPasswordMsg.innerHTML = '';
            confirmPasswordMsg.innerHTML = 'Password Change Failed. Please Try Again!';

            mainForm.classList.remove('was-validated');
          }
        })
        .catch(error => {
          // Handle any errors that occur during the fetch request
          console.error('Error:', error);
        });
    })

    function isFormValid() {
      const requiredFields = document.querySelectorAll('input[required]');

      for (const field of requiredFields) {
        if (!field.value.trim()) {
          return false;
        }
      }
      return true;
    }

    confirmPasswordInput.addEventListener('input', checkPasswordsMatch);
    newPasswordInput.addEventListener('input', checkPasswordsMatch);

    function checkPasswordsMatch() {

      const newPassword = newPasswordInput.value;
      const confirmPassword = confirmPasswordInput.value;

      if (newPassword !== confirmPassword) {
        newPasswordMsg.classList.add('invalid-feedback')
        newPasswordMsg.classList.remove('valid-feedback')

        confirmPasswordMsg.classList.add('invalid-feedback');
        confirmPasswordMsg.classList.remove('valid-feedback');

        newPasswordInput.classList.add('is-invalid');
        newPasswordInput.classList.remove('is-valid');

        confirmPasswordInput.classList.add('is-invalid');
        confirmPasswordInput.classList.remove('is-valid');

        newPasswordMsg.innerHTML = ''
        confirmPasswordMsg.innerHTML = 'Passwords do not match!';

        mainForm.classList.remove('was-validated');

        return false;
      } else if (newPassword == '' && confirmPassword == '') {
        newPasswordMsg.classList.remove('invalid-feedback');
        newPasswordMsg.classList.remove('valid-feedback');

        newPasswordInput.classList.remove('is-valid');
        newPasswordInput.classList.remove('is-invalid');

        confirmPasswordInput.classList.remove('is-valid');
        confirmPasswordInput.classList.remove('is-invalid');

        confirmPasswordMsg.classList.remove('invalid-feedback');
        confirmPasswordMsg.classList.remove('valid-feedback');

        newPasswordMsg.innerHTML = ''
        confirmPasswordMsg.innerHTML = '';

        mainForm.classList.remove('was-validated');

        return false;

      } else if (newPassword === confirmPassword && newPassword !== '' && confirmPassword !== '') {
        newPasswordMsg.classList.remove('invalid-feedback');
        newPasswordMsg.classList.remove('valid-feedback');

        newPasswordInput.classList.remove('is-valid');
        newPasswordInput.classList.remove('is-invalid');

        confirmPasswordInput.classList.remove('is-valid');
        confirmPasswordInput.classList.remove('is-invalid');

        confirmPasswordMsg.classList.remove('invalid-feedback');
        confirmPasswordMsg.classList.remove('valid-feedback');

        newPasswordMsg.innerHTML = ''
        confirmPasswordMsg.innerHTML = '';

        mainForm.classList.remove('was-validated');

        return true;
      }
    }
  </script>
</body>

</html>