<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>Forget Password</title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/bootstrap.css">
  <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" href="/assets/css/app.css">
  <link rel="stylesheet" href="/assets/css/pages/auth.css">
  <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/x-icon">
  <style>
    /* Custom CSS to hide background image of validation */
    .form-control.is-invalid, .was-validated .form-control:invalid {
      background-image: none !important;
    }
    .form-control.is-valid, .was-validated .form-control:valid {
      background-image: none !important;
    }




  </style>
</head>

<body>
<div id="auth">

  <div class="row h-100">
    <div class="d-flex justify-content-center align-items-center">
      <div class="py-4 px-3 px-md-4 px-lg-5 shadow-lg col-10 col-sm-8 col-md-8 col-lg-4 mx-auto" style="border-radius: 30px;">
        <h1 class="auth-title text-center pb-4">Forgot Password</h1>

        <form id="forgot-password" method="post" class="needs-validation" novalidate>
          <div class="form-floating form-group position-relative has-icon-left mb-4">
            <input type="password" class="form-control" placeholder="New Password" id="newPassword" name="newPassword" required>
            <label for="newPassword">
              <i class="bi bi-shield-lock"></i>
              New Password
            </label>
            <div class="invalid-feedback">
              Please add New Password.
            </div>

          </div>

          <div class="form-floating form-group position-relative has-icon-left mb-4">
            <input type="password" class="form-control" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword" required>
            <label for="confirmPassword">
              <i class="bi bi-shield-lock"></i>
              Confirm Password
            </label>
            <div class="invalid-feedback">
              Please add Confirm Password.
            </div>
            <div id="password-match"></div>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <div class="d-grid gap-2 col-8">
                <button type="submit" class="btn btn-primary rounded-pill mt-2">Change</button>
            </div>
        </div>
        </form>

      </div>
    </div>
  </div>

</div>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script>
    (() => {
        'use strict';
        const forms = document.querySelectorAll('.needs-validation');

        function checkPasswordMatch() {
            const newPassword = document.getElementById('newPassword');
            const confirmPassword = document.getElementById('confirmPassword');
            const newPasswordFeedback = document.getElementById('newPasswordError');
            const confirmPasswordFeedback = document.getElementById('confirmPasswordError');

            if (newPassword.value !== confirmPassword.value) {
                newPassword.classList.add('is-invalid');
                confirmPassword.classList.add('is-invalid');
                newPassword.classList.remove('is-valid');
                confirmPassword.classList.remove('is-valid');
                newPasswordFeedback.innerHTML = 'New password and confirm password do not match.';
                confirmPasswordFeedback.innerHTML = 'New password and confirm password do not match.';
            } else {
                newPassword.classList.add('is-valid');
                confirmPassword.classList.add('is-valid');
                newPassword.classList.remove('is-invalid');
                confirmPassword.classList.remove('is-invalid');
                newPasswordFeedback.innerHTML = '';
                confirmPasswordFeedback.innerHTML = '';
            }
        }

        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                } else {
                    checkPasswordMatch();
                }
                form.classList.add('was-validated');
            }, false);
        });

        document.getElementById('newPassword').addEventListener('input', checkPasswordMatch);
        document.getElementById('confirmPassword').addEventListener('input', checkPasswordMatch);
    })();
</script>
</body>

</html>