<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacancies page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/candidate-css/style.css">
    <link rel="stylesheet" href="/assets/css/candidate-css/carousel.css">
</head>

<body>
    <!-- Loading animation start -->
    <div id="loading-animation">
        <div class="dot dot-1"></div>
        <div class="dot dot-2"></div>
        <div class="dot dot-3"></div>
    </div>
    <!-- Loading animation end -->

    <!-- Navbar start -->
    <div th:replace="/fragments/layout ::nav"></div>
    <!-- Navbar end -->

    <!-- Carousel start -->
    <div id="owl-demo" class="owl-carousel owl-theme">
        <div class="item"><img src="/assets/images/candidate-images/01.jpg" alt="The Last of Us"></div>
        <div class="item"><img src="/assets/images/candidate-images/02.jpg" alt="GTA V"></div>
        <div class="item"><img src="/assets/images/candidate-images/03.jpg" alt="Mirror Edge"></div>
        <div class="item"><img src="/assets/images/candidate-images/04.jpg" alt="Mirror Edge"></div>
    </div>
    <!-- Carousel end -->

    <!-- Jobs list start -->
    <div class="container mt-5 row mx-auto">
        <h3 class="text-center mb-5">Recent Jobs</h3>

        <!-- Jobs start -->
        <div class="col-md-10 mx-auto" id="card-container" style="min-height: 300px;">

        </div>
        <div>
            <a th:href="@{/all-jobs}" class="btn btn-primary mx-auto d-block mt-3" style="max-width: 275px;margin-bottom: 85px">Show All</a>
        </div>
        <!-- Jobs end -->

    </div>
    <!-- Jobs list end -->

    <!-- Footer start -->
    <div th:replace="/fragments/layout ::footer"></div>
    <!-- Footer end -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="/assets/js/javaScript/carousel.js"></script>
    <script src="/assets/js/javaScript/app.js"></script>
    <script src="/assets/js/javaScript/homevacancy.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/dist/boxicons.min.js"></script>
</body>

</html>