<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Vacancies page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/assets/css/candidate-css/style.css">
    <link rel="stylesheet" href="/assets/css/candidate-css/quicksearchstyle.css">
    <link rel="stylesheet" href="/assets/css/candidate-css/filter.css">
    <link rel="stylesheet" href="/assets/css/candidate-css/paginationstyle.css">
</head>

<body>

    <!-- Loading animation start -->
    <div id="loading-animation">
        <div class="dot dot-1"></div>
        <div class="dot dot-2"></div>
        <div class="dot dot-3"></div>
    </div>
    <!-- Loading animation end -->

    <!-- Navbar start -->
    <div th:replace="/fragments/layout ::nav"></div>
    <!-- Navbar end -->

    <!-- Jobs list start -->
    <div class="container row mx-auto">

        <div class="sticky-top bg-white search-bar-container">
            <form class="mx-auto d-flex w-75 search-form" style="height: 20px">

                <!-- Quick search start -->
                <div class="input-group">
                    <input type="text" class="form-control search-btn" placeholder="Quick Search" />
                    <button type="submit" class="btn btn-outline-dark"><i class='bx bx-search-alt'></i></button>
                </div>
                <div class="ms-3">
                    <button type="button" class="btn btn-primary" onclick="openFilter()">Filter</button>
                </div>
                <!-- Quick search end -->

                <!-- Filter offcanvas -->
                <div id="filterOffcanvas" class="offcanvas offcanvas-end">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title">Filter</h5>
                        <button type="button" class="btn-close" onclick="closeFilter()"></button>
                    </div>
                    <div class="offcanvas-body">
                        <!-- Filter starts -->
                        <form class="bg-light p-3 rounded-3 scrollable-container" id="job-filter">
                            <div class="border-2 border-bottom pb-3 mb-3">
                                <h6>Sort by</h6>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sortBy" id="sortRecent" value="openDate" checked>
                                    <label class="form-check-label" for="sortRecent" >
                                        Most recent
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sortBy" id="sortPost" value="post">
                                    <label class="form-check-label" for="sortPost">
                                        Most wanted
                                    </label>
                                </div>
                            </div>
                            <div class="border-2 border-bottom pb-3 mb-3">
                                <h6>Date posted</h6>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="datePosted" id="dateAny" value="any" checked>
                                    <label class="form-check-label" for="dateAny">
                                        Any time
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="datePosted" id="date24Hours" value="24hours">
                                    <label class="form-check-label" for="date24Hours">
                                        Past 24 hours
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="datePosted" id="dateWeek" value="week">
                                    <label class="form-check-label" for="dateWeek">
                                        Past week
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="datePosted" id="dateMonth" value="month">
                                    <label class="form-check-label" for="dateMonth">
                                        Past month
                                    </label>
                                </div>
                            </div>
                            <div class="border-2 border-bottom pb-3 mb-3">
                                <h6>Title (Position)</h6>
                                <div class="position-relative">
                                    <input type="text" class="form-control" id="title-input" name="position">
                                    <span class='spinner-border spinner-border-sm spinner title-input-spinner' role='status'></span>
                                </div>
                            </div>
                            <div class="border-2 border-bottom pb-3 mb-3">
                                <h6>Sort by</h6>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="jobType" id="type-both" value="BOTH" checked>
                                    <label class="form-check-label" for="type-both" >
                                        Both
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="jobType" id="type-full-time" value="FULL_TIME">
                                    <label class="form-check-label" for="type-full-time" >
                                        Full-time
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="jobType" id="type-part-time" value="PART_TIME">
                                    <label class="form-check-label" for="type-part-time">
                                        Part-time
                                    </label>
                                </div>
                            </div>
                            <div class="border-2 border-bottom pb-3 mb-3">
                                <h6>Level</h6>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="level" value="ENTRY_LEVEL" id="level-entry">
                                    <label class="form-check-label" for="level-entry">
                                        Entry level
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="level" value="JUNIOR_LEVEL" id="level-junior">
                                    <label class="form-check-label" for="level-junior">
                                        Junior level
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="level" value="MID_LEVEL" id="level-mid">
                                    <label class="form-check-label" for="level-mid">
                                        Mid level
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="level" value="SENIOR_LEVEL" id="level-senior">
                                    <label class="form-check-label" for="level-senior">
                                        Senior level
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="level" value="SUPERVISOR_LEVEL" id="level-supervisor">
                                    <label class="form-check-label" for="level-supervisor">
                                        Supervisor level
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="level" value="EXECUTIVE_LEVEL" id="level-executive">
                                    <label class="form-check-label" for="level-executive">
                                        Executive level
                                    </label>
                                </div>
                            </div>
                            <div class="pb-3">
                                <div class="form-check form-switch">
                                    <label class="form-check-label" for="under10">Under 10 applicants</label>
                                    <input class="form-check-input" type="checkbox" name="under10" id="under10">
                                </div>
                            </div>
                            <div class="pb-3">
                                <div class="form-check form-switch">
                                    <label class="form-check-label" for="status-both">Including closed</label>
                                    <input class="form-check-input" type="checkbox" name="includingClosed" id="status-both">
                                </div>
                            </div>
                            <div class="pb-3 text-end">
                                <button class="btn btn-sm reset-btn" onclick="resetFilter(event)">Reset</button>
                                <button class="btn btn-sm btn-primary rounded-pill" id="show-result-btn">Results
                                    <span class="text-white fw-bold" style="font-size: 0.8rem;" id="result-count">0</span>
                                </button>
                            </div>
                        </form>
                        <!-- Filter end -->
                    </div>
                </div>
            </form>
        </div>

        <!-- Jobs start -->
        <div class="col-md-10 mx-auto" id="jobs-container" style="min-height: 300px; margin-bottom: 90px; margin-top: 20px">

            <div class="card flex-md-row">
                <div class="card placeholder-card flex-md-row">
                    <div class="">
                        <div class="placeholder-img m-3"></div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title placeholder-line"></h5>
                        <span class="default-font mx-2 d-block d-md-block d-xl-inline-block placeholder-line"></span>
                        <span class="default-font mx-2 d-block d-md-block d-xl-inline-block placeholder-line"></span>
                        <span class="default-font mx-2 d-block d-md-block d-xl-inline-block placeholder-line"></span>
                        <span class="default-font mx-2 d-block d-md-block d-xl-inline-block placeholder-line"></span>
                    </div>
                    <div class="d-flex flex-column justify-content-center justify-content-md-center align-items-end mb-3">
                        <a href="#" class="btn btn-sm btn-primary mb-1 placeholder-button"></a>
                        <span class="default-font me-4 d-inline-block end-date-text placeholder-line"></span>
                    </div>
                </div>
                <div class="">
                    <img class="m-3" src="/assets/images/candidate-images/backend_icon.png" alt="Backend Icon" width="50" height="50">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Fullstack Developer<span
                            class="applicants-text d-inline-block d-md-inline-block"><i class='bx bxs-droplet'></i> 11
                            applicants</span></h5>
                    <span class="default-font mx-2 d-block d-md-block d-xl-inline-block" data-toggle="tooltip"
                        data-placement="bottom" title="Post(Job type)"><i class='bx bxs-briefcase'></i>5
                        (Full-time)</span>
                    <span class="default-font mx-2 d-block d-md-block d-xl-inline-block" data-toggle="tooltip"
                        data-placement="bottom" title="Salary"><i class='bx bx-money'></i>
                        3-5 Lakhs</span>
                    <span class="default-font mx-2 d-block d-md-block d-xl-inline-block" data-toggle="tooltip"
                        data-placement="bottom" title="Posted time"><i class='bx bx-time'></i> 1
                        Hour ago</span>
                    <span class="default-font mx-2 d-block d-md-block d-xl-inline-block" data-toggle="tooltip"
                        data-placement="bottom" title="Location"><i class='bx bx-location-plus'></i>MICT Park,
                        Hlaing Township,Yangon</span>
                </div>
                <div class="d-flex flex-column justify-content-center justify-content-md-center align-items-end mb-3">
                    <a href="details.html" class="btn btn-sm btn-primary mb-1">More Details</a>
                    <span class="default-font me-4 d-inline-block end-date-text" data-toggle="tooltip"
                        data-placement="bottom" title="Close date"><i class='bx bx-calendar-exclamation'></i> Aug
                        8</span>
                </div>
            </div>
            <div class="card flex-md-row">
                <div class="">
                    <img class="m-3" src="/assets/images/candidate-images/backend_icon.png" alt="Backend Icon" width="50" height="50">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Fullstack Developer<span
                            class="applicants-text d-inline-block d-md-inline-block"><i class='bx bxs-droplet'></i> 11
                            applicants</span></h5>
                    <span class="default-font mx-2 d-block d-md-block d-xl-inline-block" data-toggle="tooltip"
                        data-placement="bottom" title="Post(Job type)"><i class='bx bxs-briefcase'></i>5
                        (Full-time)</span>
                    <span class="default-font mx-2 d-block d-md-block d-xl-inline-block" data-toggle="tooltip"
                        data-placement="bottom" title="Salary"><i class='bx bx-money'></i>
                        3-5 Lakhs</span>
                    <span class="default-font mx-2 d-block d-md-block d-xl-inline-block" data-toggle="tooltip"
                        data-placement="bottom" title="Posted time"><i class='bx bx-time'></i> 1
                        Hour ago</span>
                    <span class="default-font mx-2 d-block d-md-block d-xl-inline-block" data-toggle="tooltip"
                        data-placement="bottom" title="Location"><i class='bx bx-location-plus'></i>MICT Park,
                        Hlaing Township,Yangon</span>
                </div>
                <div class="d-flex flex-column justify-content-center justify-content-md-center align-items-end mb-3">
                    <a href="details.html" class="btn btn-sm btn-primary mb-1">More Details</a>
                    <span class="default-font me-4 d-inline-block end-date-text" data-toggle="tooltip"
                        data-placement="bottom" title="Close date"><i class='bx bx-calendar-exclamation'></i> Aug
                        8</span>
                </div>
            </div>
            <div class="card flex-md-row">
                <div class="">
                    <img class="m-3" src="/assets/images/candidate-images/backend_icon.png" alt="Backend Icon" width="50" height="50">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Fullstack Developer<span
                            class="applicants-text d-inline-block d-md-inline-block"><i class='bx bxs-droplet'></i> 11
                            applicants</span></h5>
                    <span class="default-font mx-2 d-block d-md-block d-xl-inline-block" data-toggle="tooltip"
                        data-placement="bottom" title="Post(Job type)"><i class='bx bxs-briefcase'></i>5
                        (Full-time)</span>
                    <span class="default-font mx-2 d-block d-md-block d-xl-inline-block" data-toggle="tooltip"
                        data-placement="bottom" title="Salary"><i class='bx bx-money'></i>
                        3-5 Lakhs</span>
                    <span class="default-font mx-2 d-block d-md-block d-xl-inline-block" data-toggle="tooltip"
                        data-placement="bottom" title="Posted time"><i class='bx bx-time'></i> 1
                        Hour ago</span>
                    <span class="default-font mx-2 d-block d-md-block d-xl-inline-block" data-toggle="tooltip"
                        data-placement="bottom" title="Location"><i class='bx bx-location-plus'></i>MICT Park,
                        Hlaing Township,Yangon</span>
                </div>
                <div class="d-flex flex-column justify-content-center justify-content-md-center align-items-end mb-3">
                    <a href="details.html" class="btn btn-sm btn-primary mb-1">More Details</a>
                    <span class="default-font me-4 d-inline-block end-date-text" data-toggle="tooltip"
                        data-placement="bottom" title="Close date"><i class='bx bx-calendar-exclamation'></i> Aug
                        8</span>
                </div>
            </div>
            <div class="card flex-md-row">
                <div class="">
                    <img class="m-3" src="/assets/images/candidate-images/backend_icon.png" alt="Backend Icon" width="50" height="50">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Fullstack Developer<span
                            class="applicants-text d-inline-block d-md-inline-block"><i class='bx bxs-droplet'></i> 11
                            applicants</span></h5>
                    <span class="default-font mx-2 d-block d-md-block d-xl-inline-block" data-toggle="tooltip"
                        data-placement="bottom" title="Post(Job type)"><i class='bx bxs-briefcase'></i>5
                        (Full-time)</span>
                    <span class="default-font mx-2 d-block d-md-block d-xl-inline-block" data-toggle="tooltip"
                        data-placement="bottom" title="Salary"><i class='bx bx-money'></i>
                        3-5 Lakhs</span>
                    <span class="default-font mx-2 d-block d-md-block d-xl-inline-block" data-toggle="tooltip"
                        data-placement="bottom" title="Posted time"><i class='bx bx-time'></i> 1
                        Hour ago</span>
                    <span class="default-font mx-2 d-block d-md-block d-xl-inline-block" data-toggle="tooltip"
                        data-placement="bottom" title="Location"><i class='bx bx-location-plus'></i>MICT Park,
                        Hlaing Township,Yangon</span>
                </div>
                <div class="d-flex flex-column justify-content-center justify-content-md-center align-items-end mb-3">
                    <a href="details.html" class="btn btn-sm btn-primary mb-1">More Details</a>
                    <span class="default-font me-4 d-inline-block end-date-text" data-toggle="tooltip"
                        data-placement="bottom" title="Close date"><i class='bx bx-calendar-exclamation'></i> Aug
                        8</span>
                </div>
            </div>
            <div class="card flex-md-row">
                <div class="">
                    <img class="m-3" src="/assets/images/candidate-images/backend_icon.png" alt="Backend Icon" width="50" height="50">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Fullstack Developer<span
                            class="applicants-text d-inline-block d-md-inline-block"><i class='bx bxs-droplet'></i> 11
                            applicants</span></h5>
                    <span class="default-font mx-2 d-block d-md-block d-xl-inline-block" data-toggle="tooltip"
                        data-placement="bottom" title="Post(Job type)"><i class='bx bxs-briefcase'></i>5
                        (Full-time)</span>
                    <span class="default-font mx-2 d-block d-md-block d-xl-inline-block" data-toggle="tooltip"
                        data-placement="bottom" title="Salary"><i class='bx bx-money'></i>
                        3-5 Lakhs</span>
                    <span class="default-font mx-2 d-block d-md-block d-xl-inline-block" data-toggle="tooltip"
                        data-placement="bottom" title="Posted time"><i class='bx bx-time'></i> 1
                        Hour ago</span>
                    <span class="default-font mx-2 d-block d-md-block d-xl-inline-block" data-toggle="tooltip"
                        data-placement="bottom" title="Location"><i class='bx bx-location-plus'></i>MICT Park,
                        Hlaing Township,Yangon</span>
                </div>
                <div class="d-flex flex-column justify-content-center justify-content-md-center align-items-end mb-3">
                    <a href="details.html" class="btn btn-sm btn-primary mb-1">More Details</a>
                    <span class="default-font me-4 d-inline-block end-date-text" data-toggle="tooltip"
                        data-placement="bottom" title="Close date"><i class='bx bx-calendar-exclamation'></i> Aug
                        8</span>
                </div>
            </div>

        </div>

        <div id="pagination-container" class="d-flex justify-content-center my-4">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link active-page" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
    <!-- Jobs end -->

    </div>
    <!-- Jobs list end -->

    <footer class="footer mt-5">
        <div class="d-flex justify-content-center align-items-center py-3">
            <p class="text-white m-0" style="font-size: 0.7rem;">© 2023 All rights reserved by ACE Data Systems Ltd.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/dist/boxicons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="/assets/js/javaScript/app.js"></script>
    <script src="/assets/js/javaScript/filter.js"></script>
    <script src="/assets/js/javaScript/jobs.js"></script>
</body>

</html>