<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="_csrf" th:content="${_csrf.token}" /> <!-- CSRF token as a meta tag -->
  <meta name="_csrf_header" th:content="${_csrf.headerName}" /> <!-- CSRF header name as a meta tag -->
  <title>OTP Authentication</title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/bootstrap.css">
  <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" href="/assets/css/app.css">
  <link rel="stylesheet" href="/assets/css/pages/auth.css">
  <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/x-icon">
</head>
<style>
    .inputs input {
        width: 11%; /* You can adjust the width percentage based on your preference */
        height: 2.5em; /* You can adjust the height in em units based on your preference */
    }

    .form-control {
    border-color: #1e497b; /* You can adjust the color code to your preference */
    }
</style>
<body>
    <div id="auth">

        <div class="row h-100 justify-content-center align-items-center">
          <div class="py-4 px-3 px-md-4 px-lg-5 shadow-lg col-12 col-sm-8 col-md-6 col-lg-4" style="border-radius: 30px;">
              <div class="auth-title text-center pb-4">
                  <h1>OTP Authentication</h1>
                  <h6 class="mt-4">Please enter the one-time password <br> to verify your account</h6>
                  <div class="mt-4">
                      <span>A code has been sent to</span> <small>*******9897</small>
                  </div>
              </div>
              <form id="otp-submit" method="post">
                  <div id="otp" class="inputs d-flex flex-row justify-content-center">
                      <input class="m-2 text-center form-control rounded col-2 col-md-1" type="text" id="first" maxlength="1" />
                      <input class="m-2 text-center form-control rounded col-2 col-md-1" type="text" id="second" maxlength="1" />
                      <input class="m-2 text-center form-control rounded col-2 col-md-1" type="text" id="third" maxlength="1" />
                      <input class="m-2 text-center form-control rounded col-2 col-md-1" type="text" id="fourth" maxlength="1" />
                      <input class="m-2 text-center form-control rounded col-2 col-md-1" type="text" id="fifth" maxlength="1" />
                      <input class="m-2 text-center form-control rounded col-2 col-md-1" type="text" id="sixth" maxlength="1" />
                  </div>
                  <div class="d-flex justify-content-center align-items-center">
                      <div id="error-msg">

                      </div>
                      <div class="d-grid gap-2 col-8">
                          <button type="submit" class="btn btn-primary rounded-pill mt-4">Submit</button>
                      </div>
                  </div>
              </form>
              <div class="content d-flex justify-content-center align-items-center mt-4">
                  <span id="resendStatus"></span> <a href="#" class="text-decoration-none ms-3" id="resendLink">Send</a>
              </div>
          </div>
        </div>
      
      </div>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        const currentURL = window.location.href;
        const url = new URL(currentURL);
        const email = url.searchParams.get("email");
        console.log(email);

        let otp;
        
        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute("content");
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute("content");
        const msg=document.getElementById('error-msg');
        console.log(csrfToken)
        function OTPInput() {
            const inputs = document.querySelectorAll('#otp > *[id]');
            for (let i = 0; i < inputs.length; i++) {
                inputs[i].addEventListener('keydown', function (event) {
                    if (event.key === "Backspace") {
                        inputs[i].value = '';
                        if (i !== 0) inputs[i - 1].focus();
                    } else {
                        if (i === inputs.length - 1 && inputs[i].value !== '') {
                            return true;
                        } else if (event.keyCode > 47 && event.keyCode < 58) {
                            inputs[i].value = event.key;
                            if (i !== inputs.length - 1) inputs[i + 1].focus();
                            event.preventDefault();
                        } else if (event.keyCode > 64 && event.keyCode < 91) {
                            inputs[i].value = String.fromCharCode(event.keyCode);
                            if (i !== inputs.length - 1) inputs[i + 1].focus();
                            event.preventDefault();
                        }
                    }
                });
            }
        }

        function countdown() {
            // Disable the resend link and show the resend status
            const resendLink = document.getElementById('resendLink');
            const resendStatus = document.getElementById('resendStatus');

            sendOtp()
            // Start the countdown timer
            let count = 30;
            const countdownTimer = setInterval(function () {
                if (count <= 0) {
                    // Enable the resend link and reset the status
                    clearInterval(countdownTimer);
                    enableResendButton();
                    resendStatus.innerText = "Didn't get the code?";
                    resendLink.innerText = "Resend"
                } else {
                    disableResendButton();
                    resendStatus.innerText = `OTP is sent. If the message doesn't reach in the next 30 seconds, click Resend again. ${count} seconds...`;
                    count--;
                    if (count === 0) {
                        enableResendButton();
                    }
                }
            }, 1000);
        }

        function sendOtp() {

            fetch('/sendOTP', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8',
                    [csrfHeader]: csrfToken // Include CSRF token as a request header
                },
                body: JSON.stringify({to: email})
            })
                .then(response => {
                    if (response.ok) {
                        console.log('Email sent successfully:', response);
                    } else {
                        console.error('Failed to send email:', response.statusText);
                    }
                })
                .catch(error => {
                    console.error('An error occurred:', error);

                })
        }

        function onClickResend(event) {
            event.preventDefault();
            disableResendButton();
            countdown();
        }

        function enableResendButton() {
            const resendLink = document.getElementById('resendLink');
            resendLink.removeAttribute('disabled');
            resendLink.addEventListener('click', onClickResend);
        }

        function disableResendButton() {
            const resendLink = document.getElementById('resendLink');
            resendLink.setAttribute('disabled', 'true');
            resendLink.removeEventListener('click', onClickResend);
        }

        const resendLink = document.getElementById('resendLink');
        resendLink.addEventListener('click', onClickResend);


        function otpSubmit(){
            fetch('/otp-submit?otp=' + encodeURIComponent(otp) +'&email=' + encodeURIComponent(email),{
                method:'POST',
                headers:{
                    'Content-Type': 'application/json;charset=utf-8',
                    [csrfHeader]: csrfToken // Include CSRF token as a request header
                },

            })
                .then((response) => response.json())

                .then((data) => {
                    if(data === true){
                        window.location.href= '/forgot-password-form?email=' + encodeURIComponent(email);
                    }else if (data === false) {
                        msg.innerHTML = "<p class='text-center' style='color: red; font-size: 1rem'>OTP is Wrong or Expired</p>"
                    }
                })
        }

        document.getElementById('otp-submit').addEventListener('submit', function (event) {
            event.preventDefault();
            const first=document.getElementById('first');
            const second=document.getElementById('second');
            const third=document.getElementById('third');
            const fourth=document.getElementById('fourth');
            const fifth=document.getElementById('fifth');
            const sixth=document.getElementById('sixth');

            if(first.value === null || second.value === null || third.value === null || fourth.value === null || fifth.value === null ||  sixth.value === null ){

                msg.innerHTML = "<p class='text-center' style='color: red; font-size: 1rem'>Please Fill OTP</p>"
            } else {
                otp = first.value + second.value + third.value + fourth.value + fifth.value + sixth.value;
                console.log(otp)
                otpSubmit();
            }

        })
        OTPInput();

    });
</script>
</body>
</html>