<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}" /> <!-- CSRF token as a meta tag -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}" /> <!-- CSRF header name as a meta tag -->
    <title>Send Email</title>
</head>
<body>
<button onclick="sendEmail()">Send Email</button>

<script>

    const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute("content");
    const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute("content");
    console.log(csrfToken)

    function sendEmail() {


        const emailData = {
            to: 'aungkhentzaw@gmail.com',
            name: 'AKZ',
        };

        try {
            fetch('/sendOTP', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8',
                    [csrfHeader]: csrfToken // Include CSRF token as a request header
                },
                body: JSON.stringify(emailData)
            })
                .then(response => {
                    if (response.ok) {
                        console.log('Email sent successfully:', response);
                    } else {
                        console.error('Failed to send email:', response.statusText);
                    }
                })
        } catch (error) {
            console.error('An error occurred:', error);
        }

    }
</script>
</body>
</html>
