<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <title>User Profile Edit</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/bootstrap.css">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="/assets/vendors/toastify/toastify.css">
  <!-- Izitoast for noti -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izitoast@1.4.0/dist/css/iziToast.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
  <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" href="/assets/css/app.css">
  <link rel="stylesheet" href="/assets/css/pages/photo.css">
  <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/x-icon">
  <style>
    /* Custom CSS to hide background image of validation */
    .form-control.is-invalid,
    .was-validated .form-control:invalid {
      background-image: none !important;
    }

    .form-control.is-valid,
    .was-validated .form-control:valid {
      background-image: none !important;
    }

    .form-select.is-valid,
    .was-validated .form-select:valid {
      background-image: none !important;
    }

    .form-select.is-invalid,
    .was-validated .form-select:invalid {
      background-image: none !important;
    }

    /* Custom CSS to style form controls in the was-validated state */
    .was-validated .form-control.is-invalid {
      background-image: none;
      /* Remove any background image */
      border-color: #dc3545;
      /* Customize the border color for invalid state */
      box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    }

    .was-validated .form-control.is-invalid:focus {
      border-color: #dc3545;
      box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
    }

    /* Additional custom styling for valid form controls */
    .was-validated .form-control.is-valid {
      background-image: none;
      /* Remove any background image */
      border-color: #28a745;
      /* Customize the border color for valid state */
      box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    }

    .was-validated .form-control.is-valid:focus {
      border-color: #28a745;
      box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
    }

    .spinner.input {
      right: 22px !important;

    }

    .spinner {
      top: 40% !important;
      display: none;
    }
  </style>
</head>

<body>
  <div id="app">
    <div th:replace="/fragments/dashboard-layout ::sidebar"></div>
    <div th:replace="/fragments/dashboard-layout ::layout-navbar"></div>
    <div id="main">
      <div id="main-content" class="rounded-3 p-3" style="background: #fff">

        <div class="page-heading">
          <div class="page-title">
            <div class="row">
              <div class="col-12 col-md-6 order-md-1">
                <h3>User Profile</h3>
                <h6 class="card-title sub-title text-muted">Edit profile</h6>
              </div>
              <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                  <h6>
                    <a class="btn btn-sm rounded-pill px-2 py-1 ps-4 text-white position-relative"
                      style="background: #1e497b !important;" href="javascript:history.back()">
                      <i class="bi bi-arrow-left-circle position-absolute"
                        style="top: 5px;left: 5px;font-size: 1.15rem"></i> Back</a>
                  </h6>
                </nav>
              </div>
            </div>
          </div>
          <section class="section">
            <div class="card">
              <div class="card-header">
              </div>
              <div class="card-body">
                <form id="profile-edit-form" enctype="multipart/form-data" method="post" class="needs-validation"
                  novalidate>

                  <div class="uploader-main">
                    <div class="uploader-inner">
                      <div class="preview-wrapper">
                        <div class="preview-inner">
                          <div class="preview">
                            <div style="width: 200px; height: 200px; top: -3px; left: -3px; position: absolute;">
                              <img id="uploadedImage" src class style="height: 100%; width: 100%;">
                              <div class="preview-drop">
                                <ul>
                                  <li class="li" onclick="openUploader()"><i class='bx bxs-image-add'
                                      style="font-size: 35px;"></i>
                                    <input id="uploadImageInput" name="photo" type="file"
                                      accept="image/gif,image/jpeg,image/jpg,image/png"
                                      style="visibility: hidden; opacity: 0;" onchange="uploadHandler()">

                                  </li>
                                  <li id="removeIcon" style="display: inline-block;" onclick="removeImage()"><i
                                      class='bx bx-x' style="font-size: 35px;"></i></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-floating mb-3 col-md-6">

                      <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                        required>
                      <label for="username"><i class="bi bi-person px-3"></i>Username</label>
                      <span class='spinner-border spinner-border-sm input spinner username-spinner'
                        role='status'></span>
                      <div class="invalid-feedback" id="username-error">
                        Please add Username.
                      </div>
                    </div>
                    <div class="form-floating mb-3 col-md-6">
                      <input type="text" class="form-control" placeholder="Name" id="name" name="name" required>
                      <label for="name"><i class="bi bi-person px-3"></i>Name</label>
                      <div class="invalid-feedback" id="name-error">
                        Please add Name.
                      </div>
                    </div>
                    <div class="form-floating mb-3 col-md-6">
                      <input type="text" class="form-control" placeholder="Phone" id="phone" name="phone" required>
                      <label for="phone"><i class="bi bi-phone px-3"></i>Phone</label>
                      <span class='spinner-border spinner-border-sm input spinner phone-spinner' role='status'></span>
                      <div id="phone-error" class="invalid-feedback">
                        Please add a valid Phone Number.
                      </div>
                    </div>
                    <div class="form-floating mb-3 col-md-6">
                      <input type="type" class="form-control" placeholder="Email" id="email" name="email" required>
                      <label for="email"><i class="bi bi-shield-lock px-3"></i>Email</label>
                      <span class='spinner-border spinner-border-sm input spinner email-spinner' role='status'></span>
                      <span class='spinner-border spinner-border-sm spinner email-spinner' role='status'></span>

                      <div id="email-error" class="invalid-feedback">
                        Please provide a valid email.
                      </div>
                    </div>

                    <div sec:authorize="hasAuthority('DEFAULT_HR') or hasAuthority('SENIOR_HR')"
                      class="form-floating mb-3 col-md-6">

                      <input type="text" class="form-control" placeholder="Department" id="department" name="department"
                        required>
                      <label for="department"><i class="bi bi-card-list px-3"></i>Department</label>
                      <span class='spinner-border spinner-border-sm spinner department-spinner' role='status'></span>
                      <div id="department-suggestions"></div>
                      <div class="invalid-feedback" id="department-error">
                        Please Choose Department.
                      </div>
                    </div>

                    <div sec:authorize="hasAuthority('DEFAULT_HR') or hasAuthority('SENIOR_HR')"
                      class="form-floating mb-3 col-md-6">
                      <select class="form-select" aria-label="Role" name="role" id="role" required>
                        <option selected disabled value="">Role</option>
                        <option value="DEFAULT_HR">Default HR</option>
                        <option value="SENIOR_HR">Senior HR</option>
                        <option value="JUNIOR_HR">Junior HR</option>
                        <option value="MANAGEMENT">Management</option>
                        <option value="INTERVIEWER">Interviewer</option>
                        <option value="OTHER">Other</option>
                      </select>
                      <label for="role"><i class="bi bi-person-fill px-3"></i>Role</label>
                      <div class="invalid-feedback" id="role-error">
                        Please Choose Role.
                      </div>
                    </div>


                    <div class="form-floating mb-3 col-md-6">
                      <select class="form-select" aria-label="Gender" name="gender" id="gender" required>
                        <option selected disabled value="">Gender</option>
                        <option value="MALE">Male</option>
                        <option value="FEMALE">Female</option>
                        <option value="OTHER">Other</option>
                      </select>
                      <label for="role"><i class="bi bi-person-fill px-3"></i>Gender</label>
                      <div class="invalid-feedback" id="gender-error">
                        Please Choose Role.
                      </div>
                    </div>
                    <div class="col-md-6">

                    </div>
                    <div class="form-floating mb-3 col-md-6">

                      <textarea class="form-control" id="address" name="address" placeholder="Address"
                        style="height: 100px" required></textarea>
                      <label for="address"><span class="px-3">Address</span></label>
                      <div class="invalid-feedback" id="address-error">
                        Please Add Address.
                      </div>
                    </div>
                    <div class="form-floating mb-3 col-md-6">

                      <textarea class="form-control" id="note" name="note" placeholder="Note"
                        style="height: 100px"></textarea>
                      <label for="note"><span class="px-3">Note(Optional)</span></label>

                    </div>
                  </div>
                  <div class="text-end mt-4">
                    <p><a id="password-change-link" class="font-bold fs-6">Password Change</a>
                    </p>
                    <button type="submit" class="btn btn-primary rounded-pill ms-auto col-auto col-md-2 ">Edit</button>
                  </div>
                </form>
              </div>
            </div>
          </section>
        </div>

      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <!-- Stomp -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <!-- SockJS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
  <script src="/assets/js/authenticatedUserCredendials.js"></script>
  <script src="/assets/js/websocket.js"></script>
  <script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
  <script src="/assets/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
  <!-- Izitoast for noti -->
  <script src="https://cdn.jsdelivr.net/npm/izitoast@1.4.0/dist/js/iziToast.min.js"></script>
  <!-- toastify -->
  <script src="/assets/vendors/toastify/toastify.js"></script>




  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/javaScript/photo.js"></script>
  <script>


    const currentURL = window.location.href;
    const url = new URL(currentURL);
    const email = url.searchParams.get("email");



    let currentEmail;
    let userId;
    let passwordChangeLink = document.getElementById('password-change-link');

    document.addEventListener('DOMContentLoaded', function () {
      profileFill();

    });


    function profileFill() {
      fetch('/get-user-profile?email=' + encodeURIComponent(email), {
        method: 'POST',
        headers: {
          [csrfHeader]: csrfToken // Include CSRF token as a request header
        }
      })
        .then(response => response.json())
        .then(data => {
          const name = document.getElementById('name');
          const username = document.getElementById('username');
          const email = document.getElementById('email');
          const phone = document.getElementById('phone');
          const address = document.getElementById('address');
          const note = document.getElementById('note');
          let preview = document.getElementById('uploadedImage');
          const stringDepartment = data.department.name;

          console.log("Data : ", data);

          userId = data.id;
          name.value = data.name;
          username.value = data.username;
          phone.value = data.phone;
          email.value = data.email;
          address.value = data.address;
          note.value = data.note;
          preview.src = 'data:image/jpeg;base64,' + data.photo;
          passwordChangeLink.href = '/password-change?email=' + encodeURIComponent(data.email);

          // Check if department select element exists
          if ($('#department').length > 0) {
            $('#department').val(stringDepartment); // Assign the stringified department name
          }

          const gender = document.getElementById('gender');
          for (let option of gender.options) {
            if (option.value === data.gender) {
              option.selected = true;
            }
          }
          currentEmail = data.email;
          console.log(currentEmail);

          // Check if role select element exists using jQuery
          if ($('#role').length > 0) {
            const role = $('#role');
            role.find('option').each(function () {
              if ($(this).val() === data.role) {
                $(this).prop('selected', true);
              }
            });
          }
        });
    }



    const emailSpinner = document.querySelector('.email-spinner');


    const usernameSpinner = document.querySelector('.username-spinner');


    const phoneSpinner = document.querySelector('.phone-spinner');


    const departmentSpinner = document.querySelector('.department-spinner');

    const form = document.getElementById('profile-edit-form');


    document.querySelector("#profile-edit-form").addEventListener("submit", function (event) {
      event.preventDefault(); // Prevent the form from submitting normally

      if (!isFormValid()) {
        console.log("Form data is not valid. Please fill all required fields.");
        return;
      } else {

        showConfirmationModal();
      }

    });


    function showConfirmationModal() {

      const confirmationModal = `
      <div class="modal fade" id="confirmationModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm modal-dialog-centered" id="message-modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body text center" style="max-width: 300px;background: #0c233d">
                            <div class="loader"></div>
                            <div class="loader-txt text-center">
                              <h3 class="text-white">Are you sure?</h3>
                                <p class="text-white">This User Account Will Be Updated.</p>

                                <div>
                                    <button id="confirmYes" type="button" class="btn btn-sm btn-light-danger mx-1">Yes</button>
                                    <button id="confirmCancel" class="btn btn-sm btn-light mx-1" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>`;
      $(document.body).append(confirmationModal);

      // Append the modal to the document

      function showProcessingModal() {
        const processingMessage = `
                <div class="modal-body text-center" style="background: #0c233d">
                    <div class="loader"></div>
                    <div class="loader-txt"><p class="text-white">Processing...</p></div>
                </div>`;

        $('.modal-content .modal-body').replaceWith(processingMessage);
      }

      function showSuccessModal() {
        const successMessage = `
                <div class="modal-body text-center" style="background: #0c233d">
                    <div class="loader"></div>
                    <div class="loader-txt"><p class="text-white">Profile Edit successful!</p>
                        <div class="text-center">
                            <button id="close" class="btn btn-sm btn-light" data-bs-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                </div>`;

        $('.modal-content .modal-body').replaceWith(successMessage);
      }

      function showFailModal() {
        const successMessage = `
                <div class="modal-body text-center" style="background: #0c233d">
                    <div class="loader"></div>
                    <div class="loader-txt"><p class="text-white">Profile Edit Fail!</p>
                        <div class="text-center">
                            <button id="close" class="btn btn-sm btn-light" data-bs-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                </div>`;

        $('.modal-content .modal-body').replaceWith(successMessage);
      }

      function resetModal() {
        const reset = `<div class="modal-body text center" style="background: #0c233d">
                            <div class="loader"></div>
                            <div class="loader-txt text-center">
                              <h3 class="text-white">Are you sure?</h3>
                              <p class="text-white">This User Account Will Be Updated.</p>

                                <div>
                                    <button id="confirmYes" type="button" class="btn btn-sm btn-light-danger mx-1">Yes</button>
                                    <button id="confirmCancel" class="btn btn-sm btn-light mx-1" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>`
        $('.modal-content .modal-body').replaceWith(reset);
      }

      $(document).on("click", "#close", function () {

        resetModal();
      });

      $(document).on("click", "#confirmYes", function () {

        const formData = new FormData(form);


        showProcessingModal();
        // Make the registration request
        fetch('/user-profile-edit?currentEmail=' + encodeURIComponent(currentEmail), {
          method: 'POST',
          headers: {
            [csrfHeader]: csrfToken // Include CSRF token as a request header
          },
          body: formData
        })


          .then(response => {
            if (response.ok) {
              // Registration successful, handle the response
              console.log("Profile Edit successful");
              showSuccessModal();

              authenticatedUserData();

              form.classList.remove('was-validated')
              const currentUrl = window.location.href;
              const newEmail = document.getElementById('email');
              const updatedUrl = currentUrl.replace(/email=([^&]+)/, "email=" + encodeURIComponent(newEmail.value));
              // Update the browser's URL to the modified URL
              window.history.replaceState({}, '', updatedUrl);


              passwordChangeLink.href = '/password-change?email=' + encodeURIComponent(newEmail.value);
              profileFill();
            } else {
              // Registration failed, handle the error
              console.error("Profile Edit failed");
              showFailModal();
            }
          })
          .catch(error => {
            // An error occurred, handle the error
            console.error("An error occurred during registration:", error);
            // You can show an error message to the user here
            showFailModal();
          });
      });
      $('#confirmationModal').modal('show');
    }
    function isFormValid() {
      // Get all required input fields, textareas, and select elements
      const requiredFields = document.querySelectorAll('input[required], textarea[required], select[required]');

      // Check if all required fields have values (except the "Note" textarea)
      for (const field of requiredFields) {
        if (field.tagName === 'TEXTAREA' && field.id === 'note') {
          // Skip the "Note" textarea from validation
          continue;
        }
        if (!field.value.trim() || !checkPhoneNumber() || !checkEmail() || !usernameDuplicate()) {
          return false; // Form data is not valid
        }
      }

      return true; // Form data is valid
    }


    // <-----------------------------------------fetch call for user profile dit----------->
    const emailError = document.getElementById('email-error');
    const usernameError = document.getElementById("username-error");
    const phoneNumberError = document.getElementById('phone-error');

    (() => {
      'use strict';
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation');
      // Loop over them and prevent submission
      Array.from(forms).forEach(form => {

        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add('was-validated');

          if (emailInput.value === '') {
            emailError.innerHTML = "Please Add Email."
          }

          if (usernameInput.value === '') {
            usernameError.innerHTML = "Please Add Username."
          }

          if (phoneNumberInput.value === '') {
            phoneNumberError.innerHTML = "Please Add Phone Number"
          }
        }, false);
      });
    })();

    // Function to check phone number format
    async function checkPhoneNumber() {

      const phoneNumber = phoneNumberInput.value;
      const phoneNumberLength = phoneNumber.length;

      if (phoneNumber === '') {
        phoneNumberInput.classList.remove('is-invalid');

        phoneNumberError.innerHTML = "Please Add Phone Number."
        phoneSpinner.style.display = 'none';
        return false;

      } else if (!phoneNumber.match(/[+0-9]+/) || phoneNumberLength < 11 || phoneNumberLength > 13) {
        phoneNumberInput.classList.add('is-invalid');
        phoneNumberError.innerHTML = "Phone Number is not valid."
        phoneSpinner.style.display = 'none';
        return false;

      } else {
        try {
          const response = await fetch('/phone-duplicate-except-himself?newPhone=' + encodeURIComponent(phoneNumber) + '&userId=' + encodeURIComponent(userId));
          const data = await response.json();

          if (data === false) {
            console.log("success");
            phoneNumberInput.classList.remove('is-invalid');

            return true;

          } else {
            console.log("fail");
            phoneNumberError.innerHTML = "Phone Number is Already Exist."
            phoneNumberInput.classList.add('is-invalid');

            return false;
          }
        } catch {
          console.error('An error occurred:', data.error);

          return false;

        } finally {
          phoneSpinner.style.display = 'none';
        }

      }
    }


    let delayTimer;
    // Add event listener to phone number input
    const phoneNumberInput = document.getElementById('phone');
    phoneNumberInput.addEventListener('input', function () {
      const cleanedValue = phoneNumberInput.value.replace(/\s/g, '');
            phoneNumberInput.value = cleanedValue;
      clearTimeout(delayTimer); // Clear the previous timer (if any)
      delayTimer = setTimeout(checkPhoneNumber, 300);
      phoneSpinner.style.display = 'inline-block'; // Set a new timer with a delay of 500 milliseconds
    });


    // Function to check email format
    async function checkEmail() {

      const emailInput = document.getElementById('email');
      const emailValue = emailInput.value;
      console.log(emailValue)

      console.log("Working......");
      emailSpinner.style.display = 'inline-block';
      console.log("Spinner hide")

      if (emailValue === '') {
        emailInput.classList.remove('is-invalid');
        emailError.innerHTML = 'Please Add Email.';
        emailSpinner.style.display = 'none';
        return false;



      } else {

        try {
          const response = await fetch('/email-duplicate-except-himself?newEmail=' + encodeURIComponent(emailValue) + '&userId=' + encodeURIComponent(userId))
          const data = await response.json();
          if (data === true && !emailValue.match(/\S+@\S+\.\S+/)) {
            console.log("Email\'s already exist and Email is also not Valid")
            emailInput.classList.add('is-invalid');
            emailError.innerHTML = 'Email\'s already exist and Email is also not Valid';

            return false;

          } else if (data === true && emailValue.match(/\S+@\S+\.\S+/)) {
            console.log("Email already exists")
            emailInput.classList.add('is-invalid');
            emailError.innerText = 'Email already exists.';

            return false;

          } else if (data === false && !emailValue.match(/\S+@\S+\.\S+/)) {
            emailInput.classList.add('is-invalid');
            console.log("Email is not Valid")
            emailError.innerHTML = 'Email is also not Valid.';

            return false;

          } else if (data === false && emailValue.match(/\S+@\S+\.\S+/)) {
            emailInput.classList.remove('is-invalid');
            console.log("Email is good to use.")
            return true;
          }


        } catch {
          console.error('Error fetching Email:' + data.error);
          emailInput.classList.add('is-invalid');
          return false;

        } finally {
          emailSpinner.style.display = 'none';
          console.log("End Working......");
        }
      }

    }
    // Add event listener to email input
    const emailInput = document.getElementById('email');
    emailInput.addEventListener('input', function () {
      const cleanedValue = emailInput.value.replace(/\s/g, '');
            emailInput.value = cleanedValue;
      clearTimeout(delayTimer); // Clear the previous timer (if any)
      delayTimer = setTimeout(checkEmail, 300); // Set a new timer with a delay of 500 milliseconds
    });


    // <------------------------Validation end here----------------------------->


    // Function to fetch department suggestions using the fetch API
    async function fetchDepartments(request, response) {
      departmentSpinner.style.display = 'inline-block';
      console.log("Spinner loading..")
      try {
        const responses = await fetch('/fetch-departments?term=' + encodeURIComponent(request.term));
        const data = await responses.json();
        if (data.length === 0) {
          console.log(" + Add new ");
          response(["+ Add new"]);
        } else {
          console.log("Spinner hide");
          response(data);
        }


      }
      catch {
        console.error('Error fetching departments:', data.error);

      }
      finally {
        departmentSpinner.style.display = 'none';
      }
    }



    // Add event listener to department input field to trigger the autocomplete
    $("#department").autocomplete({

      minLength: 1,
      source: fetchDepartments,

      open: function (event, ui) {
        var menu = $(this).autocomplete("widget");
        menu.css({
          "font-size": "1rem",
          "border-radius": "0.5rem",
        });
        menu.find(".ui-menu-item").css({
          "color": "#6c757d"
        });
      },
      select: function (e, ui) {
        var departmentValue = (ui.item.value === "+ Add new") ? $('#department').val() : ui.item.value;
        $('#department').val(departmentValue);
        return false;
      }
    });

    // <----------------------Departmrnt Suggestion end here----------------------->

    const usernameInput = document.getElementById('username');

    usernameInput.addEventListener('input', function () {
      const cleanedValue = usernameInput.value.replace(/\s/g, '');
            usernameInput.value = cleanedValue;
      clearTimeout(delayTimer); // Clear the previous timer (if any)
      delayTimer = setTimeout(usernameDuplicate, 300); // Set a new timer with a delay of 500 milliseconds
    });

    const nameInput = document.getElementById('name');
    // Event listener for keydown to prevent typing space as the first character
    nameInput.addEventListener('keydown', (event) => {
      if (event.key === ' ' && event.target.selectionStart === 0) {
        event.preventDefault();
      }
    });

    // Event listener for blur to trim spaces from the end
    nameInput.addEventListener('blur', (event) => {
      event.target.value = event.target.value.trim();
    });

    const addressInput = document.getElementById('address');
    // Event listener for keydown to prevent typing space as the first character
    addressInput.addEventListener('keydown', (event) => {
      if (event.key === ' ' && event.target.selectionStart === 0) {
        event.preventDefault();
      }
    });

    // Event listener for blur to trim spaces from the end
    addressInput.addEventListener('blur', (event) => {
      event.target.value = event.target.value.trim();
    });


    const noteInput = document.getElementById('note');
    // Event listener for keydown to prevent typing space as the first character
    noteInput.addEventListener('keydown', (event) => {
      if (event.key === ' ' && event.target.selectionStart === 0) {
        event.preventDefault();
      }
    });

    // Event listener for blur to trim spaces from the end
    noteInput.addEventListener('blur', (event) => {
      event.target.value = event.target.value.trim();
    });



    async function usernameDuplicate() {


      const username = usernameInput.value;
      usernameSpinner.style.display = 'inline-block';
      if (username === '') {
        usernameInput.classList.remove('is-invalid')
        usernameError.innerHTML = 'Please Add Username.';
        usernameSpinner.style.display = 'none';
        return false;

      } else {

        try {
          const response = await fetch('/username-duplicate-except-himself?newUsername=' + encodeURIComponent(username) + '&userId=' + encodeURIComponent(userId))
          const data = await response.json()

          if (data === true) {
            console.log("exist");
            usernameInput.classList.add('is-invalid')
            usernameError.innerHTML = 'Username is already exist.'
            return false;

          } else if (data == false) {
            usernameInput.classList.remove('is-invalid')
            console.log("dont exist");
            usernameError.innerHTML = '';
            return true;

          }

        }
        catch {

          console.error('Error fetching username:', data.error);

        }
        finally {
          usernameSpinner.style.display = 'none';
        }
      }
    }
  </script>

</body>

</html>