<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>User Profile Edit</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/bootstrap.css">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="/assets/vendors/toastify/toastify.css">
  <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">

  <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
  <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" href="/assets/css/app.css">
  <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/x-icon">
  <style>
    /* Custom CSS to hide background image of validation */
    .form-control.is-invalid, .was-validated .form-control:invalid  {
      background-image: none !important;
    }
    .form-control.is-valid, .was-validated .form-control:valid {
      background-image: none !important;
    }
    .form-select.is-valid, .was-validated .form-select:valid {
      background-image: none !important;
    }
    
    .form-select.is-invalid, .was-validated .form-select:invalid{
      background-image: none !important;
    }
  </style>
</head>

<body>
<div id="app">
  <div th:replace="/fragments/dashboard-layout ::sidebar"></div>
  <div th:replace="/fragments/dashboard-layout ::layout-navbar"></div>
  <div id="main">
    <div id="main-content">

      <div class="page-heading">
        <div class="page-title">
          <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last mb-3">
              <h3>User Profile Edit</h3>

            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
              <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">User Profile Edit
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
        <section class="section">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Edit User Account Here</h4>
              <div class="mt-md-3 text-center"><h3 class="success-line"></h3></div>
            </div>
            <div class="card-body">
              <form id="profile-edit-form" enctype="multipart/form-data" method="post" class="needs-validation" novalidate>
              
                <div class="row">
                  <div class="form-group position-relative has-icon-left mb-4 col-md-6">
                    <input type="file" class="form-control " id="photo" name="photo" accept="image/*">
                  </div>
                  <!--                                    image-resize-filepond-->
                </div>
                <div class="row">
                  <div class="form-floating mb-3 col-md-6">
                  
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username"required>
                    <label for="username"><i class="bi bi-person px-3"></i>Username</label>
                    <div class="invalid-feedback" id="username-error">
                      Please add Username.
                    </div>
                  </div>
                  <div class="form-floating mb-3 col-md-6">
                    <input type="text" class="form-control" placeholder="Name" id="name" name="name" required>
                    <label for="name"><i class="bi bi-person px-3"></i>Name</label>
                    <div class="invalid-feedback" id="name-error">
                      Please add Name.
                    </div>
                  </div>
                  <div class="form-floating mb-3 col-md-6">
                    <input type="text" class="form-control" placeholder="Phone" id="phone" name="phone" required>
                    <label for="phone"><i class="bi bi-phone px-3"></i>Phone</label>
                    <div id="phone-error" class="invalid-feedback">
                      Please add a valid Phone Number.
                    </div>
                  </div>
                  <div class="form-floating mb-3 col-md-6">
                    <input type="email" class="form-control" placeholder="Email" id="email" name="email" required>
                    <label for="email"><i class="bi bi-shield-lock px-3"></i>Email</label>
                    <span class='spinner-border spinner-border-sm spinner email-spinner' role='status'></span>

                    <div id="email-error" class="invalid-feedback">
                      Please provide a valid email.
                    </div>
                  </div>
                  <div class="form-floating mb-3 col-md-6">

                    <input type="text" class="form-control" placeholder="Department" id="department" name="department" required>
                    <label for="department"><i class="bi bi-card-list px-3"></i>Department</label>
                    <span class='spinner-border spinner-border-sm spinner department-spinner' role='status'></span>
                    <div id="department-suggestions"></div>
                    <div class="invalid-feedback" id="department-error">
                      Please Choose Department.
                    </div>
                  </div>

                  <div sec:authorize="hasAuthority('DEFAULT_HR')" class="form-floating mb-3 col-md-6">
                    <select class="form-select" aria-label="Role" name="role" id="role" required>
                      <option selected disabled value="">Role</option>
                      <option value="SENIOR_HR">Senior HR</option>
                      <option value="JUNIOR_HR">Junior HR</option>
                      <option value="MANAGEMENT">Management</option>
                      <option value="INTERVIEWER">Interviewer</option>
                      <option value="OTHER">Other</option>
                    </select>
                    <label for="role"><i class="bi bi-person-fill px-3"></i>Role</label>
                    <div class="invalid-feedback" id="role-error">
                      Please Choose Role.
                    </div>
                  </div>


                  <div class="form-floating mb-3 col-md-6">
                    <select class="form-select" aria-label="Gender" name="gender" id="gender" required>
                      <option selected disabled value="">Gender</option>
                      <option value="MALE">Male</option>
                      <option value="FEMALE">Female</option>
                      <option value="OTHER">Other</option>
                    </select>
                    <label for="role"><i class="bi bi-person-fill px-3"></i>Gender</label>
                    <div class="invalid-feedback" id="gender-error">
                      Please Choose Role.
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-floating mb-3 col-md-6">

                      <textarea class="form-control" id="address" name="address" placeholder="Address" style="height: 100px" required></textarea>
                      <label for="address"><span class="px-3">Address</span></label>
                      <div class="invalid-feedback" id="address-error">
                        Please Add Address.
                      </div>
                    </div>
                    <div class="form-floating mb-3 col-md-6">

                      <textarea class="form-control" id="note" name="note" placeholder="Note" style="height: 100px" ></textarea>
                      <label for="note"><span class="px-3">Note(Optional)</span></label>

                    </div>
                  </div>
                </div>
                <div class="text-end">
                  <p><a class="font-bold fs-6" th:href="@{/password-change(email=${#authentication.principal.getEmail})}">Forgot password?</a></p>
                  <button type="submit" class="btn btn-primary ms-auto col-auto col-md-2 mt-4">Edit</button>
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>

      <footer>
        <div class="footer clearfix mb-0 text-muted">
          <div class="float-start">
            <p>2023 &copy; Ace Data System Co.ltd</p>
          </div>
          <div class="float-end">
            <p>Created <span class="text-danger"><i class="bi bi-heart-fill icon-mid"></i></span>
              by Team Joblify</p>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
<!-- filepond validation -->
<script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>

<!-- image editor -->
<script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-filter/dist/filepond-plugin-image-filter.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>

<!-- toastify -->
<script src="/assets/vendors/toastify/toastify.js"></script>

<!-- filepond -->
<script src="https://unpkg.com/filepond/dist/filepond.js"></script>
<script>
  // register desired plugins...
  FilePond.registerPlugin(
          // validates the size of the file...
          FilePondPluginFileValidateSize,
          // validates the file type...
          FilePondPluginFileValidateType,

          // calculates & dds cropping info based on the input image dimensions and the set crop ratio...
          FilePondPluginImageCrop,
          // preview the image file type...
          FilePondPluginImagePreview,
          // filter the image file
          FilePondPluginImageFilter,
          // corrects mobile image orientation...
          FilePondPluginImageExifOrientation,
          // calculates & adds resize information...
          FilePondPluginImageResize,
  );

  const photoInput = document.querySelector('.image-resize-filepond');
  const form = document.getElementById('registration-form');

  // Filepond: Image Resize
  FilePond.create( photoInput, {
    allowImagePreview: true,
    allowImageFilter: false,
    allowImageExifOrientation: false,
    allowImageCrop: false,
    allowImageResize: true,
    imageResizeTargetWidth: 200,
    imageResizeTargetHeight: 200,
    imageResizeMode: 'cover',
    imageResizeUpscale: true,
    acceptedFileTypes: ['image/png','image/jpg','image/jpeg'],
    fileValidateTypeDetectType: (source, type) => new Promise((resolve, reject) => {
      // Do custom type detection here and return with promise
      resolve(type);
    })
  });
</script>

<script src="/assets/js/main.js"></script>
<script>
  const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute("content");
  const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute("content");

  const currentURL = window.location.href;
        const url = new URL(currentURL);
        const id = url.searchParams.get("id");


  document.addEventListener('DOMContentLoaded', function() {
    fetch('/get-user-profile?id=' + encodeURIComponent(id),{
      method:'POST',
      headers:{
        [csrfHeader]: csrfToken // Include CSRF token as a request header
      }     
    })
    .then(response => response.json())
    .then(data =>{
        const name = document.getElementById('name');
        const username = document.getElementById('username');
        const phone = document.getElementById('phone');
        const email = document.getElementById('email');
        const department = document.getElementById('department');
        const address = document.getElementById('address');
        const note = document.getElementById('note');

        const stringDepartment = data.department.name;

        console.log(stringDepartment);

        name.value = data.name;
        username.value = data.username;
        phone.value = data.phone;
        email.value = data.email;
        department.value = stringDepartment; // Assign the stringified department name
        address.value = data.address;
        note.value = data.note;

        const role = document.getElementById('role');
          for (let option of role.options) {
            if (option.value === data.role) {
              option.selected = true;
            }
          }

        const gender = document.getElementById('gender');
          for (let option of gender.options) {
            if (option.value === data.gender) {
              option.selected = true;
            }
          }
            })

          })

  document.querySelector("#profile-edit-form").addEventListener("submit", function(event) {
    event.preventDefault(); // Prevent the form from submitting normally

    if (!isFormValid()) {
      console.log("Form data is not valid. Please fill all required fields.");
      return;
    }

    
    // Get form data

    const formData= new FormData(form);



    // Make the registration request
    fetch('/user-profile-edit', {
      method: 'POST',
      headers: {
        [csrfHeader]: csrfToken // Include CSRF token as a request header
      },
      body: formData
    })


            .then(response => {
              if (response.ok) {
                // Registration successful, handle the response
                console.log("Profile Edit successful");
                // You can redirect to another page or show a success message here
                const successLine = document.querySelector('.success-line');
                successLine.innerHTML='Profile Edit Success!';
                successLine.style.display = 'inline-block';
                successLine.style.color= 'lawngreen';

              } else {
                // Registration failed, handle the error
                console.error("Profile Edit failed");
                // You can show an error message to the user here
                const successLine = document.querySelector('.success-line');
                successLine.innerHTML='Profile Edit Fail!';
                successLine.style.display = 'inline-block';
                successLine.style.color= 'red';
              }
            })
            .catch(error => {
              // An error occurred, handle the error
              console.error("An error occurred during registration:", error);
              // You can show an error message to the user here
            });
  });

  function isFormValid() {
    // Get all required input fields, textareas, and select elements
    const requiredFields = document.querySelectorAll('input[required], textarea[required], select[required]');

    // Check if all required fields have values (except the "Note" textarea)
    for (const field of requiredFields) {
      if (field.tagName === 'TEXTAREA' && field.id === 'note') {
        // Skip the "Note" textarea from validation
        continue;
      }
      if (!field.value.trim()) {
        return false; // Form data is not valid
      }
    }

    return true; // Form data is valid
  }


  // <-----------------------------------------fetch call for user profile dit----------->
    const emailError=document.getElementById('email-error');
    const mainForm = document.getElementById('profile-edit-form');
    
  (() => {
    'use strict';
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation');
    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
        emailError.innerHTML="Please Add Email."
      }, false);
    });
  })();

    // Function to check phone number format
    function checkPhoneNumber() {
    const phoneNumberInput = document.getElementById('phone');
    const phoneNumber = phoneNumberInput.value;
    const phoneNumberLength = phoneNumber.length;

    // Check if phone number matches the pattern
    if (phoneNumberLength === 0) {

      phoneNumberInput.classList.remove('is-invalid');
    } else if (!phoneNumber.match(/[+0-9]+/) || phoneNumberLength < 11 || phoneNumberLength > 13) {

      phoneNumberInput.classList.add('is-invalid');
    } else {

      phoneNumberInput.classList.remove('is-invalid');
    }

  }


  // Add event listener to phone number input
  const phoneNumberInput = document.getElementById('phone');
  phoneNumberInput.addEventListener('input', checkPhoneNumber);

  // Function to check email format
  function checkEmail() {

    const u = window.location.href;
    const url = new URL(u);
    const id = url.searchParams.get("id");
    
    const emailInput = document.getElementById('email');
    const emailValue = emailInput.value;
    console.log(emailValue)
    
    emailSpinner.style.display = 'inline-block';
    console.log("Spinner loading..")

    fetch('/fetch-email-except-mine?email=' + encodeURIComponent(emailValue) + '&userId=' + encodeURIComponent(id))
            .then((response) => response.json())

            .then((data) => {
              console.log(data)
              emailSpinner.style.display = 'none';
              console.log("Spinner hide")
              if(emailValue === ''){
                emailInput.classList.remove('is-invalid');
                emailError.innerHTML='';

              } else if (data === true && !emailValue.match(/\S+@\S+\.\S+/)) {
                console.log("Email\'s already exist and Email is also not Valid")
                emailInput.classList.add('is-invalid');
                emailError.innerHTML='Email\'s already exist and Email is also not Valid';
                mainForm.classList.remove('was-validated')

              } else if (data === true && emailValue.match(/\S+@\S+\.\S+/)) {
                console.log("Email's already exist")
                emailInput.classList.add('is-invalid');
                emailError.innerText='Email\'s already exist.';
                mainForm.classList.remove('was-validated')

              } else if (data === false && !emailValue.match(/\S+@\S+\.\S+/)) {
                emailInput.classList.add('is-invalid');
                console.log("Email is not Valid")
                emailError.innerHTML='Email is also not Valid';
                mainForm.classList.remove('was-validated')

              } else if (data === false && emailValue.match(/\S+@\S+\.\S+/)){
                emailInput.classList.remove('is-invalid');
                console.log("Email is good to use.")
              }
              
              // Hide the spinner after the response is received
              departmentSpinner.style.display = 'none';
            })
            .catch((error) => {
              console.error('Error fetching departments:', error);

              // Hide the spinner even if there's an error
              departmentSpinner.style.display = 'none';
              emailInput.classList.add('is-invalid');
            });


  }

  const emailSpinner = document.querySelector('.email-spinner');
  emailSpinner.style.display = 'none';

  // Add event listener to email input
  const emailInput = document.getElementById('email');
  emailInput.addEventListener('input', checkEmail);


  // <------------------------Validation end here----------------------------->


  // Function to fetch department suggestions using the fetch API
  function fetchDepartments(request, response) {
    // Show the spinner
    departmentSpinner.style.display = 'inline-block';
    console.log("Spinner loading..")

    fetch(`/fetch-departments?term=${request.term}`)
            .then((response) => response.json())
            .then((data) => {
              if (data.length === 0) {
                console.log(" + Add new ");
                response(["+ Add new"]);
              } else {
                console.log("Spinner hide")
                response(data);
              }

              // Hide the spinner after the response is received
              departmentSpinner.style.display = 'none';
            })
            .catch((error) => {
              console.error('Error fetching departments:', error);

              // Hide the spinner even if there's an error
              departmentSpinner.style.display = 'none';
            });
  }

  // Hide the spinner at the start
  const departmentSpinner = document.querySelector('.department-spinner');
  departmentSpinner.style.display = 'none';

  // Add event listener to department input field to trigger the autocomplete
  $("#department").autocomplete({
    minLength: 1,
    source: fetchDepartments,
    open: function(event, ui) {
      const menu = $(this).autocomplete("widget");
      menu.css({
        "font-size": "1rem",
        "border-radius": "0.5rem",
      });
      menu.find(".ui-menu-item").css({
        "color": "#6c757d"
      });
    },
    select: function(e, ui) {
      const departmentValue = (ui.item.value === "+ Add new") ? $('#department').val() : ui.item.value;
      $('#department').val(departmentValue);
      return false;
    }
  });

  // <----------------------Departmrnt Suggestion end here----------------------->

</script>

</body>

</html>